{% extends "base.html" %}

{% set page_title = user.username %}

{% block page_content %}
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>{{ user.username }}</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 col-md-2">
        <img class="img-responsive img-rounded" src="{{ user.gravatar(size=250) }}" alt="Gravatar image for user {{ user.username }}"><br>
    </div>
    <div class="col-sm-9 col-md-7">
        {% if profile.name or profile.location %}
        <p>
            {% if profile.name %}{{ profile.name }}<br>{% endif %}
            {% if profile.location %}
                <a href="http://maps.google.com/?q={{ user.location }}">{{ profile.location }}</a><br>
            {% endif %}
        </p>
        {% endif %}
        {% if current_user.is_administrator() %}
        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}
        {% if profile.about_me %}<p>{{ profile.about_me }}</p>{% endif %}
        <p>
            Member since {{ moment(user.member_since).format('L') }}.
            Last seen {{ moment(user.last_seen).fromNow() }}.
        </p>
        <p>
            {% if user == current_user %}
            <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Edit Profile</a>
            {% endif %}
            {% if current_user.is_administrator() %}
            <a class="btn btn-danger" href="{{ url_for('auth.edit_user', id=user.id) }}">Edit User [Admin]</a>
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}
